# LLM
ANTHROPIC_API_KEY=api_key_for our anthropic or any other, I've put for anthropic

# Embedding model: OpenAI if we're considering to purchase OpenAI or llama model for general use
OPENAI_API_KEY=our_openai_key        # optional, for OpenAI embeddings
EMBEDDING_MODEL=local                       # "local" | "openai"
LOCAL_EMBEDDING_MODEL=all-MiniLM-L6-v2     # used when EMBEDDING_MODEL=local

# Qdrant for vector database....We can chroma incase we're looking for a huge dataset for productioni ready
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=course_chunks
